@import 'vendors/select2';

.social-links-holder {
  width: 100%;

  .social-link-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .select2-container {
    width: 140px !important;
    height: 40px;

    .select2-selection {
      height: 40px;
      width: 100%;
      font-size: 16px;
      line-height: 2.2;
    }
  }

  .url-input {
    width: calc(100% - 200px);
  }

  .action-link {
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.add {
      margin: 0 auto;
      color: #32CD32;

      &:hover {
        color: darken(#32CD32, 10%);
      }
    }

    &.delete {
      color: #FF0000;

      &:hover {
        color: darken(#FF0000, 10%);
      }
    }

    span {
      height: calc(100% - 8px);
      width: calc(100% - 8px);
      background-color: #dedede;
      position: relative;
      border-radius: 50%;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
}